@font-face {
    font-family: 'SentyTEA';
    src: url('../fonts/SentyTEA.ttf');
    src: url('../fonts/SentyTEA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: SentyTEA;
  font-size: 120%;
}
